<nav>
  
  <div>
    <a href="/"><h1>MongoDB Viewer</h1></a>
    <p><a target="_blank" href="https://www.it-code.de">an IT-CODE.DE PROJECT</a></p>
  </div>

  <ul>
    <li><a href="/database/databaselist">DATABASES</a></li>
    <li><a href="/database/settings">SETTINGS</a></li>
    <li><a href="/about">ABOUT</a></li>
  </ul>

</nav>