<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <div class="main">
    <%- include("./partials/nav.ejs") %>
    <h2>Error</h2>
    <div class="not-found content">
      <p>Maybe you have discovered a bug.</p>
      <p>Or you have to go to the settings and input your database url.</p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </div>
</body>
</html>