<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <div class="main">
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About</h2>
      <p>I've developed this little MongoDB Viewer with Node.js/JavaScript just for fun. There are some good tools, if
        you want to administrate your MongoDB seriosly. I hope this project helps somebody to understand node.js a little better.</p>
      <div class="clearboth"></div>
        <p>If you have any questions, remarks or job offers you can contact me 
        via <a href="mailto:info@it-code.de">email</a> or visit my <a target=_blank href="https://www.it-code.de">homepage</a>.</p>
        <p>There is a readme file in github that contains a little description.</p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </div>
</body>
</html>