<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <div class="main">
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>Settings</h2>
      <p>Please input the database url. Like "mongodb://localhost:27017"</p>
      <form name="formsettings" method="post" action="/database/savesettings">
          <input type="text" id="dburl" value="<%= url %>" name="dburl" value="" />
          <button> save </button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
  </div>
</body>
</html>